<div data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid vessel">
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#mainpage">Main Page</a></li>
          <li><a href="#aboutme">About Me</a></li>
          <li><a href="#links">Links</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div id="mainpage" class="container-fluid pointer text-center">
  <h1>Home Page</h1>
  <img src="https://birdgei.files.wordpress.com/2012/02/100.gif"
       class="img-responsive img-circle margin" style="display:inline" alt="Vineet" width="350" height="350">
</div>

<div id="aboutme" class="container-fluid pointer text-center">
  <blockquote class="blockquote">
    <i>I am pursuing my MS in Computer Science at Northeastern University. I did my undergrad in Computer Engineering.
      I have previously interned at Dassault Systemes, Accenture and Quinnox working on projects involving Hibernate,
      Maven, Jenkins, GAP Analysis and programming mainly in Java.</i>
    <footer class="blockquote-footer" style="color: white"><br>Vineet Trivedi.
    </footer>
  </blockquote>
  <img src="https://lh4.googleusercontent.com/cCNh5aivEp9o077dEuBBmk_9_k9gUZM7Q3b8BHAmf5INikeFkJI56BFHyTH7z3UCsIBxdCE6tPAf35YZ-5H_=w1366-h662-rw"
       class="img-responsive img-square margin" style="display:inline" alt="Vineet" width="200" height="200">
</div>

<div id="links" class="container-fluid pointer text-center">
  <h1 class="display-1">Links</h1><br>
  <div class="row">
    <div class="col-sm-3">
      <a [routerLink]="['login']"><b>Assignment Heroku</b></a><br><br><br>
      <img src="https://vignette.wikia.nocookie.net/simpsons/images/a/ab/BartSimpson.jpg/revision/latest?cb=20141101133153"
           class="img-responsive margin" style="width:100%" alt="Assignment Heroku">
    </div>
    <div class="col-sm-3">
      <a href="https://github.com/vineettrivedi/webdev-trivedi-vineet"><b>Assignment GitHub</b></a><br><br><br>
      <img src="https://static.simpsonswiki.com/images/thumb/6/65/Bart_Simpson.png/200px-Bart_Simpson.png"
           class="img-responsive margin" style="width:100%" alt="Assignment GitHub">
    </div>
    <div class="col-sm-3">
      <a href="https://webdev-project-trivedi-vineet.herokuapp.com/"><b>Project Heroku</b></a><br><br><br>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSJ1p3kapayVWe2_SlZJF-5Y1vy8p3t8NSApBajQNmtuhSTeP7RQ"
           class="img-responsive margin" style="width:100%" alt="Project Heroku">
    </div>
    <div class="col-sm-3">
      <a href="https://github.com/vineettrivedi/webdev-project"><b>Project GitHub</b></a><br><br><br>
      <img src="https://pre00.deviantart.net/cd15/th/pre/f/2014/262/9/1/bart_simpson___01_by_mighty355-d7zqrbx.png"
           class="img-responsive margin" style="width:100%" alt="Project GitHub">
    </div>
  </div>

</div>

</div>
<!--<div class="container">-->

  <!--<h1>-->
    <!--Angular 4 MEAN stack app-->
  <!--</h1>-->


  <!--<h3>-->
    <!--App works-->
  <!--</h3>-->


  <!--&lt;!&ndash;<h4>&ndash;&gt;-->
    <!--&lt;!&ndash;<a href="test">Test MongoDB</a>&ndash;&gt;-->
  <!--&lt;!&ndash;</h4>&ndash;&gt;-->

  <!--<h3>-->
    <!--<a [routerLink]="['login']">Login</a>-->
  <!--</h3>-->
  <!--&lt;!&ndash;<h3>-->
    <!--<a [routerLink]="['search']">Search</a>-->
  <!--</h3>&ndash;&gt;-->

<!--</div>-->

