/* You can add global styles to this file, and also import other style files */

body{
  padding-top:80px;
}

.navbar-default {
  background-color: #337ab7;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: white;
}

.navbar-default .navbar-link {
  color: white;
}

a:focus, a:hover {
  color: #23527c;
  text-decoration: none;
}

@media (max-width: 768px){
  .navbar>.container .navbar-brand,
  .navbar>.container-fluid .navbar-brand {
    margin-left: 15px;
  }
}

.list-group-item {
  border: none;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}
